@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
//colores de la pagina
$blanco: #F2F2F2;
$verde: #86cd25;
$negro: #030303;
$amarillo: #d0dc5e;
$gris: #858484;
$grisOscuro: #333333;
$cards: #F2F2F2;
//funete de la pagina
$funteTitulo: 'Lato', sans-serif;
$funteParrafo: 'Open Sans', sans-serif;
$bold: 700;
$delgada: 300;
$regular : 400;
$black: 900;
//separacion de la pagina
$separacion: 5rem;
//tamaño de querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

