@include tablet{
    .campus{
        @include grid(2, 2rem);
    }
}
.entrada-campus{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: $cards;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.imagen{
    width: 100%;
    max-width: 300px;
    margin-right: 2rem;
    margin-left: 2rem;
}
h4{
    text-align: center;
    margin: 2rem;
    color: $negro;
}
.contenedor-ms{
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
}